/*
 * Copyrighm (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    combos {
        compatible = "zmk,combos";

        delete {
            bindings = <&kp DEL>;
            key-positions = <40 37>;
            layers = <0>;
        };
    };

    behaviors {
        hml: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <150>;
            quick-tap-ms = <100>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;

            hold-trigger-key-positions = <19 20 21 22 30 31 32 33 34 35 23 11 9 8 7 6 18 10 39 40 41>;
        };

        hmr: hmr {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <150>;
            quick-tap-ms = <100>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;

            hold-trigger-key-positions = <0 1 2 3 4 5 12 13 14 15 16 17 24 25 26 27 28 29 36 37 38>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&kp TAB  &kp SEMI  &kp COMMA    &kp DOT              &kp P         &kp Y            &kp F      &kp G                &kp C            &kp R            &kp L    &trans
&kp ESC  &kp A     &hml LGUI O  &hml LA(LEFT_ALT) E  &hml LCTRL I  &kp U            &kp D      &hmr LEFT_CONTROL H  &hmr LEFT_ALT T  &hmr LEFT_GUI N  &lt 2 S  &trans
&mo 4    &kp SQT   &kp Q        &kp J                &kp K         &kp X            &kp B      &kp M                &kp W            &kp V            &kp Z    &trans
                                &mo 1      &kp BACKSPACE     &kp ENTER    &key_repeat  &kp SPACE          &kp LEFT_SHIFT
            >;
        };

        lower_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&kp TAB     &trans  &trans            &kp LBKT          &kp LPAR             &kp GRAVE    &kp APOS  &kp RPAR              &kp RIGHT_BRACKET       &trans                  &trans        &trans
&kp ESCAPE  &kp N7  &hml LEFT_GUI N5  &hml LEFT_ALT N3  &hml LCTRL NUMBER_1  &kp N9       &kp N8    &hmr LEFT_CONTROL N0  &hmr LEFT_ALT NUMBER_2  &hmr LEFT_GUI NUMBER_4  &kp NUMBER_6  &trans
&trans      &trans  &kp MINUS         &kp LS(UNDER)     &kp ESC              &kp TAB      &kp BSLH  &kp FSLH              &kp EQUAL               &kp LS(PLUS)            &trans        &trans
                                &mo 1      &kp BACKSPACE     &kp ENTER    &key_repeat  &kp SPACE          &kp LEFT_SHIFT
            >;
        };

        layer_3 {
            bindings = <
&trans  &trans  &kp LC(RIGHT_ARROW)  &trans             &kp PAGE_UP       &trans                &trans          &trans          &trans        &trans     &trans  &trans
&trans  &trans  &trans               &kp LS(PAGE_DOWN)  &kp LEFT_CONTROL  &trans                &kp LEFT_ARROW  &kp DOWN_ARROW  &kp UP_ARROW  &kp RIGHT  &trans  &trans
&trans  &trans  &kp DELETE           &trans             &trans            &kp LC(LEFT_ARROW)    &trans          &trans          &trans        &trans     &trans  &trans
                                     &trans             &trans            &kp BACKSPACE         &trans          &trans          &trans
            >;
        };

        system_layer {
            bindings = <
&kp F11     &kp F7        &kp F5             &kp F3           &kp F1                &kp F9                  &kp F8    &kp F10          &kp F2            &kp F4     &kp F6  &kp F12
&trans      &kp K_MUTE    &kp C_VOLUME_DOWN  &kp C_VOLUME_UP  &kp C_BRIGHTNESS_DEC  &kp C_BRIGHTNESS_INC    &trans    &kp PRINTSCREEN  &kp K_CALCULATOR  &trans     &trans  &trans
&bt BT_CLR  &bt BT_SEL 0  &bt BT_SEL 1       &bt BT_SEL 2     &bt BT_SEL 3          &bt BT_SEL 4            &kp LEFT  &kp DOWN         &kp UP            &kp RIGHT  &trans  &trans
                                             &mo 3            &trans                &trans                  &trans    &trans           &trans
            >;
        };

        left_and_mouse_layer {
            bindings = <
&trans  &trans     &trans     &trans     &trans     &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &kp LC(A)  &trans     &trans     &kp LC(A)  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &kp LC(Z)  &kp LC(X)  &kp LC(C)  &kp LC(V)  &trans    &trans  &trans  &trans  &trans  &trans  &trans
                              &trans     &trans     &trans    &trans  &trans  &trans
            >;
        };
    };
};
